
@{
    ViewData["Title"] = "Homepage";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white" style="font-family:Verdana;">
            <h2 style="animation: 2.5s ease-in">Welcome to Spaghetti Online</h2>
            <p>We provide you the best services and products at your doorstep</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3 mb-3">
        <div class="row mb-5 align-items-center justify-content-center">
            <h2><b>Popular Products</b></h2>
        </div>
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/Mixed nuts.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Mixed Nuts</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 1900</span>
                            Rs. 1800
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/pistachio.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Pistachio</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 1600</span>
                            Rs. 1500
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/Peanuts.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Peanuts - Salted</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 450</span>
                            Rs. 350
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/almond-5.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Almonds</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 1200</span>
                            Rs. 1050
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/almond-2.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Raw Almonds</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 1000</span>
                            Rs. 900
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/cashew-1.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Cashew - Salted</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 2200</span>
                            Rs. 1950
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/almond-1.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Brown Almonds</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 1150</span>
                            Rs. 1000
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top embed-responsive" src="~/media/static/wallnuts.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="font-weight-bold">Wallnuts</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <!-- Product description-->
                            <div class="d-flex justify-content-center small text-dark mb-2">
                                1kg pack
                            </div>
                            <!-- Product price-->
                            <span class="text-muted" style="text-decoration:line-through;">Rs. 900</span>
                            Rs. 850
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Index">View more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
